/*
palette:
red: #BF0000
blue: #59ADFF
grey: #353535
dark grey: #171717
light grey: #BCBCBC
*/

/*troubleshooting border*/

/*{
    border: 3px solid yellow;
}*/

body{
    font-family:'Roboto',sans-serif;
    color:white;
    background-color: #171717;
    width:100%;
    margin:0;
}
a{
    text-decoration:none;
    color:white;
}
a:hover{
    color:#59ADFF;
    animation-name:fadefromwhite;
    animation-duration:0.25s;
}
.uhoh{
    text-align:center;
    vertical-align:middle;
}
.verticalalign{
    display:table-cell;
    height:40px;
    vertical-align: middle;
}

/*header*/
header{
    width:100%;
}
#clockbar{
    background-color: black;
    height: 50px;
}
#mobileclockbar{
    display: none;
}
#clock{
    float:left;
    font-size: 80%;
    font-family: 'Orbitron',sans-serif;
    color:#BCBCBC;
    height: 50px;
}
#date{
    line-height: 50px;
    margin-left: 1em;
}
#searchcontainer{
    float:right; 
}
#searchcontainer button{
    float: right;
    color:white;
    padding: 7px;
    margin-top: 8px;
    width:5em;
    margin-right: 1em;
    background: #BF0000;
    border: 2px solid #BF0000;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}
#searchcontainer #search{
    margin-top: 8px;
    width:15em;
    padding: 6px;
    border: 3px solid #BF0000;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
}
#searchcontainer button:focus{
    outline:none; 
}
#searchcontainer #search:focus
{
    margin-top: 8px;
    outline:none;
    width:20em;
    transition:0.25s;
    padding: 6px;
    border: 3px solid #BF0000;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
}
#toplogo{
    float:left;
    display:block;
    vertical-align:middle;
    height:25px;
    max-height:40px;
    margin-left:1em;
}

#topbar{
    background-color:#171717;
    height:40px;
    position:relative;
    white-space:nowrap;
}

#account{
    float:right;
    line-height:40px;
    font-size:0.8em;
    margin-right:1em;
}

#mobile{
    display: none;
}
#topnav{
    width:100%;
	background-color:#353535;
	clear:left;
    box-shadow:0 3px 2px #171717;
    position:relative;
    z-index:2;
}
#topnav a{
	color:white;
    text-decoration:none;
}
#topnav ul{
	margin:0;
	padding:0;
	list-style-type:none;
	background-color:#353535;
	position:relative;
}
#topnav ul ul{
	display:none;
	position:absolute;
}
#topnav ul li{
	flex:1 1 204px;
    margin:auto 0;
}
#topnav ul li a{
	display:block;
	padding:0;
	height:2em;
	line-height:2em;
	text-align:center;
    vertical-align:middle;
}
#topnav li a:hover{
	color:#59ADFF;
    animation-name:fadefromwhite;
    animation-duration:0.25s;
}
#topnav li:hover ul{
	display:block;
	width:20%;
    box-shadow:0 3px 2px #171717;
}
#topnav ul li ul li{
    border-top:1px solid #171717;
}
#topnav ul{
	display:flex;
	align-items: center;
	justify-content:center;
}

/*Main*/
main{
    display: grid;
    width: 100%;
    
    
    grid-template-columns: 350px 1fr 1fr 1fr 350px;
    grid-template-rows: 100px 350px 350px 350px 350px 350px;
    grid-template-areas:
      "heading heading heading heading sidebar"
      "pic1 desc1 desc1 desc1 sidebar"
      "pic2 desc2 desc2 desc2 sidebar"
      "pic3 desc3 desc3 desc3 sidebar"
      "pic4 desc4 desc4 desc4 sidebar"
      "pic5 desc5 desc5 desc5 sidebar";
}
.date{
    color: #BCBCBC;
}
.summary{
    color: #BCBCBC;
}
main div{
    padding:1em;
}
h2{
    font-size:100%;
}
.heading{
    background-color:black;
    grid-area:heading; 
}
.pic1{
    background-color: orange;
    background-image: url(../images/izotopesmall.jpg);
    grid-area:pic1;
    background-size: cover;
    background-position: center;
}
.pic2{
    background-color: lime;
    background-image: url(../images/kontakt.jpg);
    grid-area:pic2;
    background-size: cover;
    background-position: center;
}
.pic3{
    background-color: orange;
    background-image: url(../images/ceviosmall.jpg);
    grid-area:pic3;
    background-size: cover;
    background-position: center;
}
.pic4{
    background-color: lime;
    background-image: url(../images/air.jpg);
    grid-area:pic4;
    background-size: cover;
    background-position: center;
}
.pic5{
    background-color: orange;
    background-image: url(../images/cherrysmall.jpg);
    grid-area:pic5;
    background-size: cover;
    background-position: center;
}
.desc1{
    background-color: #171717;
    grid-area:desc1;
    position: relative;
    border-bottom: 1px solid #353535;
}
.desc2{
    background-color: #171717;
    grid-area:desc2;
    position: relative;
    border-bottom: 1px solid #353535;
}
.desc3{
    background-color: #171717;
    grid-area:desc3;
    position: relative;
    border-bottom: 1px solid #353535;
}
.desc4{
    background-color: #171717;
    grid-area:desc4;
    position: relative;
    border-bottom: 1px solid #353535;
}
.desc5{
    background-color: #171717;
    grid-area:desc5;
    position: relative;
    border-bottom: 1px solid #353535;
}
.button{
    color:white;
    background-color:#BF0000;
    padding:5px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    position:absolute;
    right:0;
    bottom:0;
}
.button:hover{
    color:#59ADFF;
}
.tag2{
    color:white;
    background-color:#59ADFF;
    padding:5px;
    margin:10px;
    display: inline-block;
    position:absolute;
    left:0;
    bottom:0;
}
.tag{
    color:white;
    background-color:#59ADFF;
    padding:5px;
    margin:10px;
    display: inline-block;
}
/*Aside*/
aside{
    background-color: black;
    grid-area:sidebar;
}

aside .ad{
    display: block;
    margin:auto;
}
#banner{
    display:none;
}
/*Footer*/
#bottomlogo{
    height:25px;
    width:25px;
    margin:1em;
}
#bottomnav{
    display:flex;
    background-color:#353535;
	margin-bottom:2em;
	border-bottom:2px solid #353535;
	clear:left;
	margin:0;
	padding:0;
	list-style-type:none;
	background-color:#353535;
}
#bottomnav li{
    display:inline;
	flex:1 1 204px;
	text-align:center;
}
#bottomnav li a:hover{
    color:#59ADFF;
    animation-name:fadefromwhite;
    animation-duration:0.25s;
}
#bottomnav a{
	color:white;
    text-decoration:none;
}
footer{
    position:absolute;
    width:100%;
    background-color:#353535;
    padding: 1em 0;
    text-align:center;
}
#copyright{
    color:#BCBCBC;
    margin-top:2em;
    font-size:0.75em;
}

/*Animations*/
@keyframes fadefromwhite{
    0%{
        color:white;
    }
    100%{
        color:#59ADFF;
    }
}
@keyframes fadetowhite{
    0%{
        color:#59ADFF;
    }
    100%{
        color:white;
    }
}

@media only screen and (max-width:1024px){
    main{
    display: grid;
    width: 100%;
    grid-template-columns: 250px 1fr 250px 1fr;
    grid-template-rows: 100px 250px 250px 250px 250px 250px 250px;
    grid-template-areas:
      "heading heading heading heading"
      "pic1 desc1 desc1 desc1"
      "pic2 desc2 desc2 desc2"
      "pic3 desc3 desc3 desc3"
      "pic4 desc4 desc4 desc4"
      "pic5 desc5 desc5 desc5"
      "sidebar sidebar sidebar sidebar";
    }
     h2{
        font-size: 80%;
        margin:0 0;
    }
    .summary{
        font-size:80%;
    }
	#topnav{
		display:none;
	}
    #clock{
        display: none;
    }
    #mobileclockbar{
        height: 50px;
        display: block;
        font-family:'Orbitron',sans-serif;
        color:#BCBCBC;
        text-align: center;
    }
    #mdate{
        line-height:50px;
    }
	.slicknav_menu{
		background-color:#353535 !important;
    }
    .slicknav_menu .slicknav menutxt{
        font-weight:normal !important;
        text-shadow:none !important;
	}
    .slicknav_menu .slicknav_icon-bar{
	    background-color:white !important;
    }
    .slicknav_menu{
	    font-size: 1em !important;
    }
    .slicknav_btn{
        line-height:1.5em !important;
        text-shadow:none !important;
    }
	#mobile{
		display:block;
	}
	#mobile ul,#mobile a{
		background-color:#353535;
	}
	#mobile a:hover{
		color:#59ADFF;
        animation-name:fadefromwhite;
        animation-duration:0.25s;
	}
    #bottomnav{
        flex-wrap:wrap;
    }
     #bottomnav li{
        flex:1 1 500px;
         padding:0.5em;
    }
   aside .ad{
    display: none;
}
#banner{
    display:block;
    max-width:100vw;
    max-height: 250px;
    margin:auto;
}
}
@media only screen and (max-width:540px){
    main{
    display: grid;
    width: 100%;
    grid-template-columns: 100px 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 250px;
    grid-template-areas:
      "heading heading heading heading"
      "pic1 desc1 desc1 desc1"
      "pic2 desc2 desc2 desc2"
      "pic3 desc3 desc3 desc3"
      "pic4 desc4 desc4 desc4"
      "pic5 desc5 desc5 desc5"
      "sidebar sidebar sidebar sidebar";
    }
     h2, p{
        font-size:65%;
        margin-left:5px;
    }
    .summary{
        display:none;
    }
    .date{
        margin-top:10px;
    }
    .button{
        font-size:70%;
    }
    .tag2{
        display:none;
    }
        #searchcontainer{
    float:right; 
    }
    #searchcontainer button{
        float: right;
        color:white;
        padding: 7px;
        margin-top: 8px;
        width:5em;
        margin-right: 1em;
        background: #BF0000;
        border: 2px solid #BF0000;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;
    }
    #searchcontainer #search{
        margin-top: 8px;
        width:8em;
        padding: 6px;
        border: 3px solid #BF0000;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        cursor: pointer;
    }
    #searchcontainer button:focus{
        outline:none; 
    }
    #searchcontainer #search:focus
    {
        margin-top: 8px;
        outline:none;
        width:12em;
        transition:0.25s;
        padding: 6px;
        border: 3px solid #BF0000;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        cursor: pointer;
    }
    .divider3{
        display:block;
        grid-area:divider3;
        background-color:#353535;
    }
    .desc3{
        display:block;
        grid-area:desc3;
        background-color:#171717;
    }
    .desc4{
        display:block;
        grid-area:desc4;
        background-color:#171717;
    }
    #banner{
    display:block;
    max-width:100vw;
    margin:2.5em auto 0 auto;
}
    
}