/*
palette:
red: #BF0000
blue: #59ADFF
grey: #353535
dark grey: #171717
light grey: #BCBCBC
*/

/*Grid Homepage*/
.container {
  display: grid;
  width: 100%;
  padding:0;
  margin:0;
  height: 1650px;
  grid-template-columns: 1fr 1fr 1fr 350px 350px;
  grid-template-rows: 40px 40px 430px 430px 350px 350px 40px 40px 40px;
  grid-template-areas:
      "header header header header header"
      "nav nav nav nav nav"
      "content-1 content-1 content-1 content-1 sidebar"
      "content-2 content-2 content-3 content-3 sidebar"
      "content-4 content-5 content-5 content-5 sidebar"
      "content-6 content-7 content-7 content-7 sidebar"
      "footer footer footer footer footer"
      "bnav bnav bnav bnav bnav"
      "cr cr cr cr cr cr"
      ;
}

.sidebar {
  grid-area: sidebar;
}

.content-1 {
  grid-area: content-1;
/*    background-image: url(../images/cherry.jpg)*/
}

.content-2 {
  grid-area: content-2;
/*    background-image: url(../images/izotope.webp)*/
}

.content-3 {
  grid-area: content-3;
  /*background-image: url(../images/cevio.png);*/
}

.content-4 {
  width:350px;
  grid-area: content-4;
}

.content-5 {
    grid-area: content-5;
}
.content-6 {
    width:350px;
    grid-area: content-6;
}

.content-7 {
  grid-area: content-7;
}
.header {
  grid-area: header;
}
.nav {
  grid-area: nav;
}
.footer {
  grid-area: footer;
}
#bottomnav{
    grid-area: bnav;
}
cr{
    grid-area: cr;
}


@keyframes fadefromwhite{
    0%{
        color:white;
    }
    100%{
        color:#59ADFF;
    }
}
@keyframes fadetowhite{
    0%{
        color:#59ADFF;
    }
    100%{
        color:white;
    }
}


/* OTHER STYLES */
#topbar{
    background-color:#171717;
    position:relative;
    white-space:nowrap;
    width:100%;
}
#mobile{
    display:none;
}
#toplogo{
    float:left;
    display:block;
    vertical-align:middle;
    height:25px;
    max-height:40px;
    margin-left:1em;
}
#topnav{
	background-color:#353535;
    width:100%;
    box-shadow:0 3px 2px #171717;
    position:relative;
    z-index:2;
}
#topnav a{
	color:white;
    text-decoration:none;
}
#topnav ul{
	margin:0;
	padding:0;
	list-style-type:none;
	background-color:#353535;
	position:relative;
}
#topnav ul ul{
	display:none;
	position:absolute;
}
#topnav ul li{
	flex:1 1 204px;
    margin:auto 0;
}
#topnav ul li a{
	display:block;
	padding:0;
	height:2em;
	line-height:2em;
	text-align:center;
}
#topnav li a:hover{
	color:#59ADFF;
    animation-name:fadefromwhite;
    animation-duration:0.25s;
}
#topnav li:hover ul{
	display:block;
	width:20%;
    box-shadow:0 3px 2px #171717;
}
#topnav ul li ul li{
    border-top:1px solid #171717;
}
#topnav ul{
	display:flex;
	align-items: center;
	justify-content:center;
}
#account{
    float:right;
    line-height:40px;
    font-size:0.8em;
    margin-right:1em;
}
a{
    text-decoration:none;
    color:#59ADFF;
}
a:hover{
    color:white;
    animation-name:fadetowhite;
    animation-duration:0.25s;
}

body {
  background-color: #3b404e;
  justify-content: center;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.item {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  background-size: cover;
  background-repeat: no-repeat;
}
#bottomlogo{
    height:25px;
    width:25px;
    margin-bottom:1em;
}
#bottomnav{
    width:100%;
    display:inline-flex;
    background-color:#353535;
	margin-bottom:2em;
	border-bottom:2px solid #353535;
	clear:left;
	margin:0;
	padding:0;
	list-style-type:none;
	background-color:#353535;
}
#bottomnav li{
    display:inline;
	flex:1 1 204px;
	text-align:center;
}
#bottomnav li a:hover{
    color:#59ADFF;
    animation-name:fadefromwhite;
    animation-duration:0.25s;
}
#bottomnav a{
	color:white;
    text-decoration:none;
}
footer{
    width:100%;
    background-color:#353535;
    padding: 1em 0;
    text-align:center;
}
#copyright{
    color:#BCBCBC;
    margin-top:2em;
    font-size:0.75em;
}

.sidebar {
  background-image: linear-gradient(203deg, #3EDFD7 0%, #29A49D 90%)
}

@media only screen and (max-width:767px){
	#topnav{
		display:none;
	}
	.slicknav_menu{
		background-color:#353535 !important;
    }
    .slicknav_menu .slicknav menutxt{
        font-weight:normal !important;
        text-shadow:none !important;
	}
    .slicknav_menu .slicknav_icon-bar{
	    background-color:white !important;
    }
    .slicknav_menu{
	    font-size: 1em !important;
    }
    .slicknav_btn{
        line-height:1.5em !important;
        text-shadow:none !important;
    }
	#mobile{
		display:block;
        width:100%;
	}
	#mobile ul,#mobile a{
		background-color:#353535;
	}
	#mobile a:hover{
		color:#59ADFF;
        animation-name:fadefromwhite;
        animation-duration:0.25s;
	}
}