/*
palette:
red: #BF0000
blue: #59ADFF
grey: #353535
dark grey: #171717
light grey: #BCBCBC
*/

/*troubleshooting border*/

/*{
    border: 3px solid yellow;
}*/

body{
    font-family:'Roboto',sans-serif;
    color:white;
    background-color: #171717;
    width:100%;
    margin:0;
}
a{
    text-decoration:none;
    color:white;
}
a:hover{
    color:#59ADFF;
    animation-name:fadefromwhite;
    animation-duration:0.25s;
}
.uhoh{
    text-align:center;
    vertical-align:middle;
}
.verticalalign{
    display:table-cell;
    height:40px;
    vertical-align: middle;
}

/*header*/
header{
    width:100%;
}
#clockbar{
    background-color: black;
    height: 50px;
}
/*#clock{
    float:left;
    color:#59ADFF;
}*/
#searchcontainer{
    float:right; 
}
#searchcontainer button{
    float: right;
    color:white;
    padding: 7px;
    margin-top: 8px;
    width:5em;
    margin-right: 1em;
    background: #BF0000;
    border: 2px solid #BF0000;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}
#searchcontainer #search{
    margin-top: 8px;
    width:15em;
    background-color: white;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 6px;
    border: 3px solid #BF0000;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
}
#searchcontainer button:focus{
    outline:none; 
}
#searchcontainer #search:focus
{
    margin-top: 8px;
    color:black;
    outline:none;
    width:20em;
    transition:0.25s;
    padding: 6px;
    border: 3px solid #BF0000;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
}
#toplogo{
    float:left;
    display:block;
    vertical-align:middle;
    height:25px;
    max-height:40px;
    margin-left:1em;
}

#topbar{
    background-color:#171717;
    height:40px;
    position:relative;
    white-space:nowrap;
}

#account{
    float:right;
    line-height:40px;
    font-size:0.8em;
    margin-right:1em;
}

#mobile{
    display: none;
}
#topnav{
    width:100%;
	background-color:#353535;
	clear:left;
    box-shadow:0 3px 2px #171717;
    position:relative;
    z-index:2;
}
#topnav a{
	color:white;
    text-decoration:none;
}
#topnav ul{
	margin:0;
	padding:0;
	list-style-type:none;
	background-color:#353535;
	position:relative;
}
#topnav ul ul{
	display:none;
	position:absolute;
}
#topnav ul li{
	flex:1 1 204px;
    margin:auto 0;
}
#topnav ul li a{
	display:block;
	padding:0;
	height:2em;
	line-height:2em;
	text-align:center;
    vertical-align:middle;
}
#topnav li a:hover{
	color:#59ADFF;
    animation-name:fadefromwhite;
    animation-duration:0.25s;
}
#topnav li:hover ul{
	display:block;
	width:20%;
    box-shadow:0 3px 2px #171717;
}
#topnav ul li ul li{
    border-top:1px solid #171717;
}
#topnav ul{
	display:flex;
	align-items: center;
	justify-content:center;
}


/*Main*/
main{
    display: grid;
    width: 100%;
    height: 1000px;
    grid-template-columns: 100px 1fr 1fr 1fr 350px;
    grid-template-rows: 100px 40px 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "profilepic heading heading heading sidebar"
      "blank content content content sidebar"
      "blank content content content sidebar"
      "blank content content content sidebar"
      "blank content content content sidebar"
      "blank content content content sidebar";
}
#profileimage2{
    display:none; 
}
#formcontainer{
    display: block;
    width:90%;
    max-width:500px; 
    height:650px;
    margin:auto;
    text-align: center;
    padding:50px;
    background-color:#353535;
    border-radius:10px;
    
}
#changepass{
    color: #59ADFF;
}
#changepass:hover{
    color:white; 
    animation-name: fadetowhite;
    animation-duration: 0.25s;
}
#profile{
    text-align: left;
    display: inline-block;
}
form h2{
    text-align: center;
}
main div{
    padding:1em;
}
.heading{
    background-color:#353535;
    grid-area:heading; 
    display:flex;
    align-content: center;
    justify-content: center;
}
.profilepic{
    display:flex;
    background:#353535;
    justify-content: center;
    align-content: center;
}
#profileimage{
    border: 2px solid #BF0000;
    max-width:75px;
    min-width:50px;
}
.content{
    background-color:#171717;
    grid-area:content;
    display: flex;
    padding:20px 75px; 
}
input[type=text],
input[type=email],
input[type=password]
{
    height:110%;
    background-color: #171717;
    width:15em;
    padding:10px;
    margin-top: 5px;
    border-radius: 5px;
    border:3px solid white;
    color:white;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus{
    border:3px solid #59ADFF;
    outline:none;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    color:#59ADFF;
}
input[type=file]{
    margin-top:5px;
}
#managebutton{
    background-color:#59ADFF;
    cursor:pointer;
    font-size: 93%;
    font-weight:bold; 
    color:white;
    width:15em;
    padding:10px;
    border-radius: 5px;
    border:none;
}
#submitbutton{
    background-color:#BF0000;
    cursor:pointer;
    font-size: 93%;
    font-weight:bold; 
    color:white;
    width:15em;
    padding:10px;
    border-radius: 5px;
    border:none;
}
.divider1{
    background-color: #353535;
    grid-area:divider1;
}
.button{
    color:white;
    background-color:#BF0000;
    padding:5px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    position:absolute;
    right:0;
    bottom:0;
}
.button:hover{
    color:#59ADFF;
}
.tag2{
    color:white;
    background-color:#59ADFF;
    padding:5px;
    margin:10px;
    display: inline-block;
    position:absolute;
    left:0;
    bottom:0;
}
.tag{
    color:white;
    background-color:#59ADFF;
    padding:5px;
    margin:10px;
    display: inline-block;
}
.date{
    margin: 20px 10px;
}

/*Aside*/
aside{
    background-color: green;
    grid-area:sidebar;
}
/*Footer*/
#bottomlogo{
    height:25px;
    width:25px;
    margin:1em;
}
#bottomnav{
    display:flex;
    background-color:#353535;
	margin-bottom:2em;
	border-bottom:2px solid #353535;
	clear:left;
	margin:0;
	padding:0;
	list-style-type:none;
	background-color:#353535;
}
#bottomnav li{
    display:inline;
	flex:1 1 204px;
	text-align:center;
}
#bottomnav li a:hover{
    color:#59ADFF;
    animation-name:fadefromwhite;
    animation-duration:0.25s;
}
#bottomnav a{
	color:white;
    text-decoration:none;
}
footer{
    position:absolute;
    width:100%;
    background-color:#353535;
    padding: 1em 0;
    text-align:center;
}
#copyright{
    color:#BCBCBC;
    margin-top:2em;
    font-size:0.75em;
}

/*Animations*/
@keyframes fadefromwhite{
    0%{
        color:white;
    }
    100%{
        color:#59ADFF;
    }
}
@keyframes fadetowhite{
    0%{
        color:#59ADFF;
    }
    100%{
        color:white;
    }
}

@media only screen and (max-width:1024px){
    main{
    display: grid;
    width: 100%;
    height: 1400px;
    grid-template-columns: 100px 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 250px;
    grid-template-areas:
      "profilepic heading heading heading"
      "blank content content content"
      "blank content content content"
      "blank content content content"
      "blank content content content"
      "sidebar sidebar sidebar sidebar";
    }
    
	#topnav{
		display:none;
	}
	.slicknav_menu{
		background-color:#353535 !important;
    }
    .slicknav_menu .slicknav menutxt{
        font-weight:normal !important;
        text-shadow:none !important;
	}
    .slicknav_menu .slicknav_icon-bar{
	    background-color:white !important;
    }
    .slicknav_menu{
	    font-size: 1em !important;
    }
    .slicknav_btn{
        line-height:1.5em !important;
        text-shadow:none !important;
    }
	#mobile{
		display:block;
	}
	#mobile ul,#mobile a{
		background-color:#353535;
	}
	#mobile a:hover{
		color:#59ADFF;
        animation-name:fadefromwhite;
        animation-duration:0.25s;
	}
    #bottomnav{
        flex-wrap:wrap;
    }
     #bottomnav li{
        flex:1 1 500px;
         padding:0.5em;
    }
   
}
@media only screen and (max-width:540px){
    main{
    display: grid;
    width: 100%;
    height:1400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 250px;
    grid-template-areas:
      "heading heading heading"
      "content content content"
      "content content content"
      "content content content"
      "content content content"
      "sidebar sidebar sidebar";
    }
    .profilepic{
        display:none;
    }
    #profileimage{
        display:none;
    }
    #profileimage2{
        display:block;
        border: 2px solid #BF0000;
        max-width:75px;
        min-width:50px;
        margin:auto;
        margin-bottom:20px;
    }
    input[type=text],
    input[type=file],
    input[type=email],
    input[type=password]
    {
        width:10em;
    }
    input[type=text]:focus,
    input[type=email]:focus,
    input[type=password]:focus{
        width:12em;
    }
    #formcontainer{
        padding:30px;
        width:95%;
        height:780px;
        font-size:70%;
    }
    h2{
        padding: 0;
    }
    #searchcontainer{
    float:right; 
    }
    #searchcontainer button{
        float: right;
        color:white;
        padding: 7px;
        margin-top: 8px;
        width:5em;
        margin-right: 1em;
        background: #BF0000;
        border: 2px solid #BF0000;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;
    }
    #searchcontainer #search{
        margin-top: 8px;
        width:8em;
        padding: 6px;
        border: 3px solid #BF0000;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        cursor: pointer;
    }
    #searchcontainer button:focus{
        outline:none; 
    }
    #searchcontainer #search:focus
    {
        margin-top: 8px;
        outline:none;
        width:14em;
        transition:0.25s;
        padding: 6px;
        border: 3px solid #BF0000;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        cursor: pointer;
    }
    
}